// ** Colors **
$primary-color: #19517a;
$primary-hover-color: #0068b4;
$alert-color: #e45b5b;
$new-message-color: rgba(70, 144, 255, 0.2);
$insurance: #27ae60;
$insurance-hover: #66d36e;

$text-color: #333333;
$dark-grey-text: #666666;
$grey-text: #9c9c9c;
$light-grey-text: #f6f6f6;
$bg-lightgrey: #f8f8f8;
$bg-light: #fafafa;
$white: #ffff;

// ** Buttons **
$btn-login-heigth: 48px;
$btn-login-width: 314px;
$btn-height: 48px;

// ** Media queries **
$desktop-width: 900px;
