@import "../../App.scss";

.header {
  @include flex(row, space-between, center);
  background-color: $white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 4rem;
  z-index: 9999;

  .left-side {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
  }

  .right-side {
    @include flex(row, flex-end, center);
    .header-nav-item {
      padding-right: 3.5rem;
    }
  }
  .bb-name {
    padding: 2rem 0.5rem 0 0;
  }
  .header-nav-item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3.5rem;
    cursor: pointer;
  }
}
