@import "../../App.scss";
.sidebar.active {
  left: 0px;
}
.sidebar {
  z-index: 99;
  position: fixed;
  width: 256px;
  height: 568px;
  background: #19517a;
  border-radius: 8px;
  left: -200px;
  transition: all 200ms linear;
  @include mobile {
    display: none;
  }
  a {
    position: end;
  }
  ul {
    margin-top: 3rem;
  }
  ul li {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 2.5rem;
    cursor: pointer;
  }
  .toggle-btn {
    position: absolute;
    left: 224px;
    top: 20px;
  }
  .rotated {
    transform: rotate(180deg);
  }
}
